<div id="<%= dom_id listing %>">
  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= listing.photo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= listing.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= listing.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= listing.longitude %>
  </p>

</div>
