<div id="<%= dom_id listing %>">
  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>


  <p>
    <strong>Category:</strong>
    <%= listing.category %>
  </p>
  <p>
    <strong>Photo:</strong>
    <% if listing.photo.attached? %>
        <%= image_tag(listing.photo size: "150" )  %>
      <% else %>
         <img alt="image" class="rounded-circle" src="/assets/plants.jpg" width="150" height="150">
      <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  

</div>
