<% if !user_signed_in? || !current_user.admin %>
  <div class="container">
  <%= render "layouts/shared/search"%>
  <h1 class="text-center">All Listing</h1><br>
  <div class="listingcards listingcards-index">
      <% @listings.each do |listing| %>
        <%= link_to listing_path(listing) do %>
         <%= render partial: "/listings/shared/card", locals: { listing: listing } %>
        <% end %>
      <% end %>
    </div>

  </div>

  <% else %>
  <h1 class="text-center">All Listings</h1>
  <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @listings.each do |listing| %>
        <tr>
          <%# partial idea for table %>
          <%= render partial: "/layouts/shared/table", locals: { listing: listing } %>
          <td>         
            <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-success" %><br><br>            
            <%# pop up warning not working don' know why %>
            <%= button_to "Delete", @listing, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger text-center" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>   
  </div>

<% end %>