<div class="container">

<div class="d-flex pt-3 pb-4 justify-content-center ">
  <div class="input-style">
<%= form_tag listings_path, method: :get do %>
  <%= text_field_tag :search,
    params[:search],
    class: "form-control input-style mt-1",
    placeholder: "Find a plant"
  %>
  </div>
  <div class="pl-2">
  <%= submit_tag "Search", class: "mt-1 btn search-btn btn-success" %>
<% end %>
</div>
</div>
<hr class="dropdown-divider">


<%= link_to "New listing", new_listing_path %>



<div class="listingcards listingcards-index">
    <% @listings.each do |listing| %>
    <%= link_to listing_path(listing) do %>
    <div class="listingcard-trip">
      <% if listing.image %>
        <%= image_tag(listing.image) %>
      <% else %>
         <img alt="image"  src="/assets/plants.jpg" >
      <% end %>
      <div class="listingcard-trip-infos">
        <div class="listingcard-text">
          <h2 style="color: black;"> <%= listing.name %>  </h2>
          <span class="badge badge-success"><%= listing.category %></span>
          <p style="color: rgb(13, 13, 13);"> <%= listing.description.to_plain_text.truncate(150) %> </p>
          
        </div>
        <strong><%= number_to_currency(listing.price) %></strong>
        
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

</div>