
  <div class="container-fluid bg-light">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="navbar-brand fs-4 fw-light"  style="color: rgb(0, 77, 0);" href="/">
          <img src="/assets/icon2.jpg" alt="" width="45" height="45">
          <strong>BOTANIC MARKET</strong>
      </a>
      
      
      <ul class="nav col-12 col-lg-auto ms-lg-auto justify-content-center mb-md-0" style="color: rgb(0, 77, 0);">
        <li><a href="/plants" class="nav-link px-2 link-dark" style="color: rgb(0, 77, 0);">Plants</a></li>
        <li><a href="/pots" class="nav-link px-2 link-dark" style="color: rgb(0, 77, 0);">Pots</a></li>
        <li><a href="/accessories" class="nav-link px-2 link-dark" style="color: rgb(0, 77, 0);">Accessories</a></li>
        <li>         
          <%= link_to "Wanna Listing?", new_listing_path, class: "btn btn-outline-success" %>       
        </li>
    
        <div class="dropdown text-end pt-1 pl-2">
          <a class="d-block link-dark text-decoration-none dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
            <% if user_signed_in? && current_user.avatar.persisted? %>
              <%= image_tag(current_user.avatar, class: "rounded-circle", size: "35") %> 
              <%= current_user.username %>
              <%# variant does not work, fix later %>   
            <% else %>
              <img alt="image" class="rounded-circle" src="/assets/default_avatar.jpg" width="35" height="35"  >
            <% end %> 
          
          </a>
          <ul class="dropdown-menu text-small" style="">
            <% if !current_user %>
              <a class="dropdown-item" href="<%= new_user_registration_path %>">Sign Up</a>
              <a class="dropdown-item" href="<%= new_user_session_path  %>">Sign In</a>
            <% else %>
              <% if current_user.admin? %>
                <p class="dropdown-item" style="font-weight: bold;">(This is Admin)</p>
                <%= link_to "User Control", users_path, class: "dropdown-item"%>
                <%= link_to "Listing Control", listings_path, class: "dropdown-item"%>
                <% else %>  
                <a class="dropdown-item" href="<%= watchlist_path %>">My Whatchlist</a>
                <%= link_to "My Message", conversations_path(sender_id: current_user.id, recipient_id: current_user.id), method: "get", class: 'dropdown-item' %>
                <%= link_to "My Profile", current_user, class: "dropdown-item"%>
              <% end %>
             
              
              
              <li class="dropdown-item"><hr class="dropdown-divider"></li>
              <a class="dropdown-item" href="<%= destroy_user_session_path  %>">Sign Out</a>
            <% end %>
          </ul>
        </div>
      </ul>
      
    </div>
  </div>
