<div class="col-md-4 mb-3">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-column align-items-center text-center">
        <% if current_user.avatar.persisted? %>
        <%= image_tag(current_user.avatar, size: "150", class: "rounded-circle z-index-2 shadow") %> 
        <% else %>
        <img alt="image" class="rounded-circle z-index-2 shadow" src="/assets/default_avatar.jpg" width="150" height="150">
        <% end %><br>

        <h4><%= current_user.username %></h4><br>
        <article class="media">
          <%= current_user.email %>
        </article><br>
        <article class="media">
            <div class="media-content text-secondary mb-1">Since <strong><%= current_user.created_at.strftime('%b %Y') %></strong></div>   
        </article><br>
          <div class="<%= 'd-none' if current_page?(edit_user_registration_path(current_user)) %>" >
          <% if @user = current_user %>
            <%= link_to "Edit My Profile", edit_user_registration_path(current_user), class: "btn btn-success" %>
          <% else %>
            <button class="btn btn-outline-primary">Message</button>
          <%end%>
          </div>          
      </div>
    </div>
  </div>
</div> 









