<section class="py-5 text-center container">
  <div class="row gutters-sm">
  <%= render "layouts/shared/user_card" %>    
    <div class="col-md-8">         
      <div class="card-body">
       <div class="table-reponsive">              
        <table class="table">
        <br><h4 class="text-center">My Watchlist(item: <%= @watchlist.size %>) </h4><br>
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @watchlist.each do |listing| %>                        
          <tr>
            <%= render partial: "/layouts/shared/table", locals: { listing: listing } %>
            <td>         
              <%= button_to "Remove", remove_from_watchlist_path(listing), method: :delete, class: "btn btn-outline-warning" %><br>
              <%= link_to "Details", listing_path(listing), class: "btn btn-outline-success" %>        
            </td>
          </tr>
          <% end %>
        </tbody>
        </table>          
       </div> 
      </div>
    </div>
  </div>
</section>