<div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">        
        <p><%= @listing.name %></p>        
        <p><strong><%= number_to_currency(@listing.price) %></strong></p>
        <p>       
          <% if @listing.category=="Plants" %>
            <span class="badge badge-success"><%= @listing.category %></span>
          <% elsif @listing.category=="Pots"%>
            <span class="badge badge-warning"><%= @listing.category %></span>
          <% else %>
            <span class="badge badge-info"><%= @listing.category %></span>
          <% end %>
        </p>
        <p>        
          <% if @listing.photo.persisted? %>
            <%= image_tag(@listing.photo, size: "150")  %>
          <% elsif @listing.image %>
            <%= image_tag(@listing.image, size: "150") %>
          <% else %>
              <img alt="image" class="rounded-circle" src="/assets/plants.jpg" width="150" height="150">
          <% end %>
        </p>
        <p class="text-secondary"><%= @listing.description.to_plain_text %></p>        
        <div>
          <% if @listing.user.id == current_user.id || current_user.admin %>
            <%= link_to "Edit this listing", edit_listing_path(@listing), class: "btn btn-outline-primary" %><br>
          <% elsif @watchlist.include?(@listing) %>
            <%= button_to "Remove from watchlist", remove_from_watchlist_path(listing), method: :delete, class: "btn btn-outline-success" %>
          <% else %>
            <%=   button_to "Add to watchlist", add_to_watchlist_path(@listing), class: "btn btn-outline-success" %>
          <% end %> 
          <br><%= link_to "Back to listings", listings_path, class: "btn btn-outline-primary" %>
        </div>      
      </div>
    </div>
  </div>